In [1]:
import pandas as pd
import numpy as np

### 2. Create a pandas series from each of the items below: a list, numpy and a dictionary

In [2]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [7]:
mylist_s = pd.Series(mylist)
print(type(mylist_s))
arr = pd.Series(myarr)
print(type(arr))
dic = pd.Series(mydict)
print(type(dic))
dic.head()

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

a    0
b    1
c    2
e    3
d    4
dtype: int64

### 3. Convert the series ser into a dataframe with its index as another column on the dataframe.

In [8]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [14]:
df = ser.to_frame().reset_index()
df

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

### 4. How to combine many series to form a dataframe? Combine ser1 and ser2 to form a dataframe.

In [18]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [28]:
# solution 1 : 
#df = pd.concat([ser1, ser2], axis=1)

#better solution

df = pd.DataFrame({'col_1' : ser1, 'col_2': ser2}) # how to make a df

### 5. How to assign name to the series' index? Give a name to the series ser calling it ‘alphabets’. Give a name to the series ser calling it ‘alphabets’.

In [32]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.rename('alphabets').head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

### 6. How to get the items of series A not present in series B? From ser1 remove items present in ser2.

In [45]:
ser1 = pd.Series([1, 2, 3, 4, 5]) # so remove if in ser2
print(ser1)
ser2 = pd.Series([4, 5, 6, 7, 8])
print(ser2)
# .drop is for index values
# ser1.drop([ser2])
ser1 = ser1[ser1!=ser2]

# series are tricking me up with managing the index vs the rest
# basically I fucking hate index's right now... 
#way easier with just lists

ser1[~ser1.isin(ser2)] # ~ BitNot

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    4
1    5
2    6
3    7
4    8
dtype: int64

0    1
1    2
2    3
dtype: int64

### 7. How to get the items not common to both series A and series B? Get all items of ser1 and ser2 not common to both.

In [46]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [55]:
ser = ser1.append(ser2)
ser.drop_duplicates(keep = False)

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

### 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series? Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

In [56]:
ser = pd.Series(np.random.normal(10, 5, 25))

In [59]:
ser.describe()

count    25.000000
mean      9.746448
std       4.582970
min       2.577003
25%       7.142308
50%       9.641220
75%      12.833969
max      17.508799
dtype: float64

### 9. How to get frequency counts of unique items of a series? Calculate the frequency counts of each unique value ser.

In [60]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [71]:
ser.value_counts()

b    5
h    5
c    5
a    4
d    4
f    3
g    2
e    2
dtype: int64

### 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’? From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [73]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [79]:
freq = ser.value_counts()
ser[~ser.isin(freq.index[:2])] = 'Other'
ser

0         4
1         1
2         1
3         1
4     Other
5         1
6         4
7         4
8         1
9         4
10    Other
11    Other
dtype: object

### 11. How to bin a numeric series to 10 groups of equal size? Bin the series ser into 10 equal deciles and replace the values with the bin name.

In [82]:
ser = pd.Series(np.random.random(20))

In [87]:
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0     9th
1     8th
2     2nd
3     5th
4    10th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

### 12. How to convert a numpy array to a dataframe of given shape? (L1). Reshape the series ser into a dataframe with 7 rows and 5 columns

In [88]:
ser = pd.Series(np.random.randint(1, 10, 35))

In [94]:
ser.to_frame(5) # want 7 rows 5 columns

    5
0   3
1   6
2   6
3   4
4   2
5   2
6   3
7   3
8   6
9   3
10  5
11  3
12  4
13  9
14  5
15  9
16  4
17  1
18  6
19  1
20  5
21  4
22  7
23  2
24  7
25  7
26  2
27  6
28  7
29  2
30  3
31  3
32  3
33  5
34  6