In [1]:
import pandas as pd
import numpy as np

### 2. Create a pandas series from each of the items below: a list, numpy and a dictionary

In [2]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [7]:
mylist_s = pd.Series(mylist)
print(type(mylist_s))
arr = pd.Series(myarr)
print(type(arr))
dic = pd.Series(mydict)
print(type(dic))
dic.head()

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

a    0
b    1
c    2
e    3
d    4
dtype: int64

### 3. Convert the series ser into a dataframe with its index as another column on the dataframe.

In [8]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [14]:
df = ser.to_frame().reset_index()
df

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

### 4. How to combine many series to form a dataframe? Combine ser1 and ser2 to form a dataframe.

In [18]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [28]:
# solution 1 : 
#df = pd.concat([ser1, ser2], axis=1)

#better solution

df = pd.DataFrame({'col_1' : ser1, 'col_2': ser2}) # how to make a df

### 5. How to assign name to the series' index? Give a name to the series ser calling it ‘alphabets’. Give a name to the series ser calling it ‘alphabets’.

In [32]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.rename('alphabets').head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

### 6. How to get the items of series A not present in series B? From ser1 remove items present in ser2.

In [45]:
ser1 = pd.Series([1, 2, 3, 4, 5]) # so remove if in ser2
print(ser1)
ser2 = pd.Series([4, 5, 6, 7, 8])
print(ser2)
# .drop is for index values
# ser1.drop([ser2])
ser1 = ser1[ser1!=ser2]

# series are tricking me up with managing the index vs the rest
# basically I fucking hate index's right now... 
#way easier with just lists

ser1[~ser1.isin(ser2)] # ~ BitNot

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    4
1    5
2    6
3    7
4    8
dtype: int64

0    1
1    2
2    3
dtype: int64

### 7. How to get the items not common to both series A and series B? Get all items of ser1 and ser2 not common to both.

In [46]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [55]:
ser = ser1.append(ser2)
ser.drop_duplicates(keep = False)

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

### 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series? Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

In [56]:
ser = pd.Series(np.random.normal(10, 5, 25))

In [59]:
ser.describe()

count    25.000000
mean      9.746448
std       4.582970
min       2.577003
25%       7.142308
50%       9.641220
75%      12.833969
max      17.508799
dtype: float64

### 9. How to get frequency counts of unique items of a series? Calculate the frequency counts of each unique value ser.

In [60]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [71]:
ser.value_counts()

b    5
h    5
c    5
a    4
d    4
f    3
g    2
e    2
dtype: int64

### 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’? From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [73]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [79]:
freq = ser.value_counts()
ser[~ser.isin(freq.index[:2])] = 'Other'
ser

0         4
1         1
2         1
3         1
4     Other
5         1
6         4
7         4
8         1
9         4
10    Other
11    Other
dtype: object

### 11. How to bin a numeric series to 10 groups of equal size? Bin the series ser into 10 equal deciles and replace the values with the bin name.

In [82]:
ser = pd.Series(np.random.random(20))

In [87]:
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0     9th
1     8th
2     2nd
3     5th
4    10th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

### 12. How to convert a numpy array to a dataframe of given shape? (L1). Reshape the series ser into a dataframe with 7 rows and 5 columns

In [88]:
ser = pd.Series(np.random.randint(1, 10, 35))

In [99]:
df = pd.DataFrame(ser.values.reshape(7,5))
df
# want 7 rows 5 columns

   0  1  2  3  4
0  3  6  6  4  2
1  2  3  3  6  3
2  5  3  4  9  5
3  9  4  1  6  1
4  5  4  7  2  7
5  7  2  6  7  2
6  3  3  3  5  6

In [106]:
# 3. Find the positions of numbers that are multiples of 3 from ser.
ser = pd.Series(np.random.randint(1, 10, 7))
ser
#print(ser.values)

0    8
1    1
2    9
3    5
4    6
5    5
6    6
dtype: int32

In [112]:
for index, value in ser.items():
    if value % 3 == 0:
        print(f"Index : {index}")
        
        # look into df.iterrow
        # and df.items

Index : 2
Index : 4
Index : 6

In [113]:
# 14 From ser, extract the items at positions in list pos.
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [124]:
for index, value in ser.items():
    if index in pos:
        print(value)

0 a
4 e
8 i
14 o
20 u

In [125]:
# 15. How to stack two series vertically and horizontally ?
#Stack ser1 and ser2 vertically and horizontally 
#(to form a dataframe).
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [132]:
# vertical = append
ser1.append(ser2)
#or 
pd.concat([ser1,ser2], axis=0)

# Horizontal
pd.concat([ser1,ser2], axis=1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [134]:
# 16. How to get the positions 
# of items of series A in another series B?

# Get the positions of items of ser2 in ser1 as a list.

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [159]:
print(ser2.values)
l = []
for index, value in ser1.items():
    if value in ser2.values:
        l.append(index)
print(l)

[ 1  3 10 13]
[0, 4, 5, 8]

In [160]:
#17. How to compute the mean squared 
#error on a truth and predicted series?

#Compute the mean squared error of truth and pred series.

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [164]:
np.mean((truth-pred)**2)

0.12101700466298246

In [165]:
#18. How to convert the first character of 
#each element in a series to uppercase?
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [175]:
for index, values in ser.items():
    values = values.capitalize()
    print(values)

How
To
Kick
Ass?

In [176]:
#19. How to calculate the number of characters 
# in each word in a series?
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [178]:
for index, values in ser.items():
    print(len(values))

3
2
4
4

In [179]:
#20. How to compute difference of differences
#between consequtive numbers of a series?
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

In [185]:
temp = []
for i in range(len(ser.values) -1):
    temp.append(abs(ser.values[i] - ser.values[i+1]))
print(temp)

[2, 3, 4, 5, 6, 6, 8]

In [186]:
# 21. How to convert a series of date-strings
# to a timeseries?
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [188]:
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [189]:
#22. How to get the day of month, week number, day of year and day of week
#from a series of date strings?

#Get the day of month, week number,
#day of year and day of week from ser.
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [202]:
ser1 = pd.to_datetime(ser)
# day of the month
print("day of the month:", ser1.dt.day.tolist())
print("week number:", ser1.dt.week.tolist())
print("day of year", ser1.dt.dayofyear.tolist())
print("Day of week: ", ser1.dt.day_name().tolist())

day of the month: [1, 2, 3, 4, 5, 6]
week number: [53, 5, 9, 14, 19, 23]
day of year [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

C:\Users\stuar\anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  after removing the cwd from sys.path.

In [203]:
# 23. How to convert year-month string to dates 
# corresponding to the 4th day of the month?

# Change ser to dates that start with 
# 4th of the respective months.
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

In [208]:
from dateutil.parser import parse
ser
ser.map(lambda x: parse('04 ' + x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [209]:
# 24. How to filter words that contain 
# atleast 2 vowels from a series?

#From ser, extract words that contain atleast 2 vowels.

In [211]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
ser

0     Apple
1    Orange
2      Plan
3    Python
4     Money
dtype: object

In [247]:
vowels = ['a','e','i','o','u']
ser2 = pd.Series([])
l = []
for index, values in ser.items():
    temp_count = 0
    for i in range(len(values)):
        # print(values[i].lower())
        if values[i].lower() in vowels:
            temp_count += 1
    if temp_count >= 2:
        #print(index, values)
        l.append(index)
print(ser[l])

0     Apple
1    Orange
4     Money
dtype: object

C:\Users\stuar\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [248]:
# 25. How to filter valid emails from a series?

#Extract the valid emails from the series emails. 
#The regex pattern for valid emails is provided as reference.

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

In [251]:
import re
emails.str.findall(pattern, flags=re.IGNORECASE)

0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object

In [255]:
# 26. How to get the mean of a series grouped by 
#another series?

# Compute the mean of weights of each fruit.
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weight = pd.Series(np.linspace(1, 10, 10))
fruit

0     apple
1    banana
2    carrot
3    carrot
4    banana
5    banana
6    carrot
7     apple
8    carrot
9    carrot
dtype: object

In [295]:
df = pd.concat([fruit,weight], axis =1)
df = pd.DataFrame(df)

df = df.rename(columns = {0: 'fruits', 1: 'weight'})
df[['fruits','weight']]
df.groupby('fruits').mean().astype(int)
# how do I group by frequency again?
# how would I round the ans?

        weight
fruits
apple        4
banana       4
carrot       6

In [297]:
#27. How to compute the euclidean distance
#between two series?

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

sum((p - q)**2)**.5

# solution 2
# np.linalg.norm(p-q)

18.16590212458495

In [298]:
# 28. How to find all the local maxima
# (or peaks) in a numeric series?

#Get the positions of peaks 
#(values surrounded by smaller values on both sides) in ser.

ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

In [311]:
m = list(ser.values)
l = []
for i in range(len(m)):
    if m[i] >= m[i-1] and (m[i] >= m[i+1]):
        l.append(i)
l

[1, 5, 7]

In [313]:
# 29. How to replace missing spaces in a 
# string with the least frequent character?

# Replace the spaces in my_str with the
#least frequent character.

my_str = 'dbc deb abed gade'